.navbar {
    display: flex;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    position: relative;
    z-index: 10;
}

.brand {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.spacer {
    flex: 1;
}

.nav-items {
    display: flex;
    gap: 16px;
}

.nav-items a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.active {
    background-color: rgba(255, 255, 255, 0.15);
}

@media (max-width: 600px) {
    .nav-items span {
        display: none;
    }

    .brand span {
        display: none;
    }
}