<mat-toolbar color="primary" class="navbar">
  <a mat-button routerLink="/" class="brand">
    <mat-icon>account_balance</mat-icon>
    <span>Loan Management</span>
  </a>
  <span class="spacer"></span>
  <div class="nav-items">
    <a mat-button routerLink="/loans" routerLinkActive="active">
      <mat-icon>list</mat-icon>
      <span>View Loans</span>
    </a>
    <a mat-button routerLink="/loans/new" routerLinkActive="active">
      <mat-icon>add</mat-icon>
      <span>New Loan</span>
    </a>
  </div>
</mat-toolbar>
